assets/procedural_content/procedural_content.dtd

<!ELEMENT Story (Panel*)*>
<!ELEMENT Panel (Content2D|Content3D)*>
<!ELEMENT Content2D (#PCDATA)>
<!ELEMENT Content3D (#PCDATA)>
<!ELEMENT Building (#PCDATA)>
<!ATTLIST Building type CDATA #REQUIRED width CDATA #REQUIRED height CDATA #REQUIRED length CDATA #REQUIRED positionX CDATA #REQUIRED positionY CDATA #REQUIRED>